<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">My Subscriptions</div>
    </div>
</div>
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Subscription Options</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}