{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Plant Care</h2>
            <hr>
        </div>
    </div>

    <div class="container-fluid">
        <div class="water-div">
            <h2>Air Care</h2>
            <p>Can the quality of air really affect my plants that much? As a matter of fact, it can! And to some
                sensitive and exotic plants this could mean their success or downfall. Read more about how the airflow,
                humidity and temperature can affect your plants.</p>
            <br>
            <h4>Draft</h4>
            <p>The airflow in your home can be quite hard to get a hang of. Some plants love a little bit of a draft but
                some despise it and turn brown or starts to hang. If you have plants next to a window or door that
                frequently gets opened and you see browning of the leaves, then try to move it or check if maybe the
                window or door is leaking a bit much air. It may not affect us humans much, but to a small plant a draft
                can lower the temperature greatly and freeze the leaves.
                <br>
                A plant that loves a bit of a draft or even a shake is the fiddle leaf fig tree. By grabbing the trunk
                of the tree and slightly shaking it you mimic the natural wind that the tree would have encountered in
                its natural habitat. The shaking strengthens trunk and encourages growth.
            </p>
            <br>
            <h4>Temperature</h4>
            <p>Most homes have a temperature of 18-23 degrees Celsius which is a perfect environment for most plants.
                Some plants can handle higher temperatures but its best to monitor and keep the same conditions for the
                plants to not shock them. Tropical plants prefer not to be in a climate under the 20-degree mark and can
                quite fuzzy if left too cold for too long. If you live in a cold climate country then the winter might
                not be the best friend for your plants. Especially if you have you plants on a window sill with a
                radiator underneath it. The cold from the window and heat from the radiator can shock you plants and
                make them unevenly brown. Either place these plants somewhere else where they can still get some light
                on them but not with the hot and cold situation as before.
            </p>
            <br>
            <h4>Humidity</h4>
            <p>The humidity is key for tropical plants survival. In the majority home the humidity ranges from 40%-60%
                and is optimal for most house plants. But in the winter the humidity can drop to very low percentages
                and we recommend you getting a hygrometer to monitor your house humidity. If you notice you have a low
                humidity, we also recommend placing out bowls of water that will evaporate over time and contribute to a
                higher humidity. If you want to max out the humidity you can get a humidifier and place it close to your
                plants, your tropical plants will thank you for it. Having a higher humidity can even help people with
                asthma and ease breathing. If you are getting a humidifier make sure you check your hygrometer
                frequently for levels above 60% as this can cause mildew in your home.
            </p>
            <br>
            <h4>Plant terrarium</h4>
            <p>If you have tropical plants, they are usually sensitive to cold drafts and low humidity and a great way
                to solve this issue is to get a plant terrarium or terrarium cabinet. It’s kind of already trending now
                because the pandemic so there is a lot of inspirational ideas to get from the internet. But basically, a
                terrarium is a closed environment that keeps in moisture and an even temperature. A good idea for a
                terrarium is to make sure that the terrarium is not made of natural materials as this can cause rot. A
                humidifier or water bowls inside to raise humidity and a plant lamp either inside or right outside for
                the right amount of UV light. If a terrarium is kept close to a window with natural light the terrarium
                can quickly become to hot and humid and therefor bacteria and mildew will start to grow. And let’s be
                honest, a plant cabinet with fancy lights is a fantastic interior to any home!</p>
            <br>
        </div>
    </div>

    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}

    {% endblock %}