{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Plant Care</h2>
            <hr>
        </div>
    </div>

    <div class="container-fluid">
        <div class="water-div">
            <h2>Earth</h2>
            <p></p>
            <h4>The Value Of Correct Soil</h4>
            <p>Not every plant loves the standard store-bought soil, actually most plants don’t. So, don’t go crazy and
                repot all your plants with the same medium without checking first that the soil would be something the
                plant would like or even tolerate. Some plants like succulent have their special super draining soil
                they prefer. And some plants like orchids have special orchid bark. The same with mediterranean plants.
            </p>
            <br>
            <h4>Soil Composition</h4>
            <p>Standard store-bought soil in a bag is usually very heavy, compact and retains a lot of water. To some
                plants this is heaven, but to most it surely is not. Most plants like a bit of aeration. Air helps the
                roots grow stronger and reduces the chance of moldering. There are different ways to give more air to
                the roots without digging holes in the soil. Like mixing you soil with other helping mediums.
            </p>
            <br>
            <h4>Perlite</h4>
            <p>Perlite is a heated volcanic mineral that has great aeration qualities and is also very light in weight.
                The medium resembles styrofoam and is a hollow rock-like mineral. It sucks up excess water and releases
                it over time, the same with air. This medium is greatly used in gardening indoors as well as outdoors in
                lawns due to grass is high in demand for aeration of the roots.
            </p>
            <br>
            <h4>Coco Coir</h4>
            <p>Another option for aeration and lightening of the soil is coconut coir. Coconut coir is the middle
                fibrous coat of the coconut fruit. The coir is ground up to make the small millimeter sized bits and are
                due to its size and weight easy to use in planting. It’s a lot like perlite, but smaller and brown hued.
                Coconut coir retains moisture but quickly releases it, making it harder to overwater your plants. A
                downside to using coconut coir is that the coir contains no nutrins on its own like soil does. Which
                means you have to add nutrients somehow, either via liquid or slow releaze fertilization pellets.</p>
            <br>
            <h4>Fancy Pants Potting Soil Mix</h4>
            <p>Brace yourselves, because we are about to spill the beans on our popular fancy soil mixture! Since we
                love plants and want everybody to love plants as much as we do, we decided to tell the world about our
                successful potting soil mixture that works for most plants that we have indoor.
                Are you ready? Here it comes:
            <ul>
                <li>2 parts soil</li>
                <li>1 part perlite</li>
                <li>1 part coconut coir</li>
            </ul>
            Mix all the ingredient together and repot you lovely plants that either need a bigger pot or some fresh
            nutrients. After about 2-3 months you should give the soil some nutrients with either a liquid or slow
            release fertilizer.
            </p>
            <br>
        </div>
    </div>


    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}

    {% endblock %}