{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Plant Care</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                <a href="{% url 'water_care' %}">
                    <img class="card-img-top img-fluid" src="/media/wesley-tingey-9-OCsKoyQlk-unsplash.jpg"
                        alt="Water image">
                </a>
                <div class="card-body pb-0">
                    <p class="mb-0">Water</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold"><small>How much or little should I
                                    water?</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                <a href="{% url 'sun_care' %}">
                    <img class="card-img-top img-fluid" src="/media/ivan-torres-AXz346Rhs6A-unsplash.jpg"
                        alt="Sun image">
                </a>
                <div class="card-body pb-0">
                    <p class="mb-0">Sun</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold"><small>How much sunlight does my plant
                                    need?</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                <a href="{% url 'earth_care' %}">
                    <img class="card-img-top img-fluid" src="/media/gabriel-jimenez-jin4W1HqgL4-unsplash.jpg"
                        alt="Earth image">
                </a>
                <div class="card-body pb-0">
                    <p class="mb-0">Earth</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold"><small>What kind of soil does my plant
                                    need?</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                <a href="{% url 'air_care' %}">
                    <img class="card-img-top img-fluid" src="media/billy-huynh-v9bnfMCyKbg-unsplash.jpg"
                        alt="Cloud image">
                </a>
                <div class="card-body pb-0">
                    <p class="mb-0">Air</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold"><small> How does the air affect my
                                    plants?</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}