{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Plant Care</h2>
            <hr>
        </div>
    </div>

    <div class="container-fluid">
        <div class="water-div">
            <h2>Sun Care</h2>
            <p>All plants have different kind of structures that crave different kinds of light. Some are sensitive to
                direct light and prefer a shaded spot, while other thrive in the scorching sun. Let’s take a moment to
                learn about the different ways to give your plants light.</p>
            <h4>Different lighting conditions</h4>
            <p>Direct, filtered or shaded light. Seems pretty much the same for us humans, but to a plant this can be
                critical for survival. One should never give too much or too little light to a plant and that is why it
                is important to ask the store you bought your plant from what light conditions your plant would thrive
                in.
            <ul>
                <li> Direct light -Plants like sansevierias, cacti, hibiscus, jade plant and papyrus love to bask in the
                    glory of unfiltered and direct light. Some of these may need to gradually be introduced to the
                    warmest and sunniest spot to not stress the plant, but after a while most will have acclimatized
                    themselves to stand in the same place without needing to move them to a shadier place. </li>
                <li> Filtered light – Christmas cactus, spider plants, aglaonema, hoyas, dragon tree, umbrella Plant,
                    parlor palm, monstera deliciosa, string of pearls and philodendrons all love a lot of light but it
                    must be filtered. Otherwise there is a high risk of burning the leaves. If you think you have burnt
                    you plant accidentally, don’t fret, just clip of the damaged parts and move the plant to a but more
                    shaded place and check on it regularly.
                </li>
                <li> Shady light – Light sensitive plants like calatheas and marantas are plants that grow wild
                    underneath other higher plants like trees that provide a great deal of shade. These plants are super
                    sensitive to cold drafts and high amounts of sunlight and thrive in a shaded with a little filtered
                    light. Zz plants and peace lilies likes filtered light but can survive in a shaded light just fine.
                    The only thing to think of is that they might not bloom and grow as quickly in a low light area.
                </li>
            </ul>
            </p>

            <h4>Plant lamps</h4>
            <p>Are you having a hard time getting that ultimate light for you rplants? Maybe you have either to much or
                to little and want to find a way to optimize the light in you space. Then you should think about getting
                plant/ grow lamps. These lamps emit loads of great light without burning your plants and some look
                really good as an interior design accent. There are different kinds of lamps, full spectrum and blue red
                lights. Most of these plants give a good amount of UV-light for your plants but they give of a different
                hue, some don’t like the rave esque light the blue red lamps produce. So, think about what kind of light
                you want in your home and shop thereafter.
            </p>
        </div>
    </div>


    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}

    {% endblock %}