{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Plant Care</h2>
            <hr>
        </div>
    </div>

    <div class="container-fluid">
        <div class="water-div">
            <h2>Water Care</h2>
            <p>How much you should water your plants differ greatly depending on what kind of plant, soil, pot,
                humidity, temperature and amount of sun. A lot of variables to take in, but rest assure that when you
                figure out exactly what kinds of condition your plants live in but we guarantee it will be worth it in
                the end!</p>
            <h4>Water quantity</h4>
            <p>Plants – all plants want a different amount of water. Some like to dry out between watering and some
                need to stay moist at times. Always ask the store you bought the plant from what care it needs.
                Sometimes the plant comes with a little note with sun and water indications, usually a scale from zero
                to five. Lower drops of water mean less amount of water or longer time between watering. More drops mean
                more often or bigger quantities of water each time.
                <br>
                Usually, plants like succulents, hoyas, sansevierias and cacti thrive with being watered less, but still
                frequently. As opposed to calatheas, ferns, aglaonemas and some tradescantia who prefer to keep pretty
                moist.</p>
            <br>
            <h4>Water quality</h4>
            <p>Depending on where you live, the water in your tap may contain a lot or close to none of chemicals.
                These are usually no problem for us humans, but for plants they can over a long time (or directly!) harm
                your plant’s foliage and roots. Most calatheas and fly-traps are sensitive to the calcium in our tap
                water and develop crispy and brown leaves. To battle this one either have to buy bottled water, get a
                filtering can that filters out calcium or collect rain water. You could also fill your watering can, let
                it sit for 24 hours and then water with everything except the last bit of water in the bottom, due to
                calcium sinking to the bottom over time.
            </p>
            <br>
            <h4>Seasonal change</h4>
            <p>Depending on what season it is the amount of water a plant can change or remain the exact the same, it
                all depends on the conditions you live in. Is there a great temperature change? When the weather gets
                colder plants tend to need less water. Some plants even go into dormancy and require extremely little or
                no water at all. If you were to water for example a caladium rhizome it could molder due to excess
                water.
            </p>
            <h4>Greatest tip(!) in the world!</h4>
            <p>The best tip we could give you, or accually you already have the tip, all you need to do is to put it to
                use. We are of course talking about your finger tips! Whenever you are unsure of when you should water
                or not, just stick your finger in the soil. It the soil sticks to your finger then it's wet enough. If
                you finger is dry after putting in the soil then you can water it. Remeber to always stick you finger in
                the pot at least a third of the pots height. That way you are not just checking the top soil as that
                could be dry but the bottom could be soaking wet.</p>
            <br>
        </div>
    </div>


    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}

    {% endblock %}